<?xml version='1.0' encoding='utf-8'?>
<plugin id="ru.alasdair.cordova-plugin-lock" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-lock</name>
    <js-module name="cordova-plugin-lock" src="www/pluginLock.js">
        <clobbers target="window.PluginLock" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="cordova-plugin-lock">
                <param name="android-package" value="ru.alasdair.cordova-plugin-lock.cordova-plugin-lock" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/JPluginLock.java" target-dir="src/ru/alasdair/cordova-plugin-lock/cordova-plugin-lock" />
    </platform>
</plugin>